name: test

on:
  push:
    branches:
      - main
      - release/**
  pull_request:
    branches:
      - main
      - release/**
  schedule:
    - cron:  '0 3 * * 4'

env:
  CARGO_MAKE_VERSION: '0.27.0'

jobs:
  ## Run all default oriented feature sets across all platforms.
  platform-matrix:
    name: platform
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        #os: [ubuntu-latest, macos-latest, windows-latest] # TODO: need someone on Windows to help with fixing the windows build
        os: [ubuntu-latest, macos-latest]
    steps:
    - uses: actions/checkout@v2

    - uses: actions/setup-java@v1
      with:
        java-version: 1.11

    - uses: actions-rs/toolchain@v1
      with:
        profile: minimal
        toolchain: stable
        override: true
    
    - name: make test
      run: make test

  ## Execute the clippy checks
  cleanliness:
    name: cleanliness
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - uses: actions-rs/toolchain@v1
      with:
        profile: minimal
        toolchain: stable
        components: rustfmt, clippy
        override: true
    
    # Clippy
    - name: cargo clippy
      run: cargo clippy
    # Rustfmt
    - name: cargo fmt
      run: cargo fmt -- --check 
    # Audit
    #- name: cargo audit
    #  run: cargo make audit
